.personAvatarWrapper {
    overflow: hidden;
	box-shadow: 0 2px 3px 0 rgba(0,0,0,0.3);
    .personAvatar {
        width: 500px;
        height: 700px;
        display: block;
        object-fit: cover;
    }
}

.personDescriptionWrapper {
    text-align: left;
	padding: 20px;
	box-shadow: 0 2px 3px 0 rgba(0,0,0,0.1);
	border-radius: 1px;
	background-color: white;
    .ageNameWrapper {
        display: flex;
        align-items: center;
        gap: 5px;
    }
    .personName {
        font-weight: bold;
        font-size: 30px;
        margin-top: 0;
    }

    .personAge {
        font-size: 30px;
        font-weight: 100;
    }

    .personJob {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 20px;
    }
    .personIconsWrapper {
        display: flex;
        gap: 10px;
        align-items: center;
        margin-top: 10px;
    }
    .iconPerson {
        width: 17px;
        display: flex;
        align-items: center;
    }
}

